<h1>Providers</h1>
<div class="well">
  <%= link_to 'Connect to Twitter', '/auth/twitter' %><br />
  <%= link_to 'Connect to Facebook', '/auth/facebook' %><br />
  <%= link_to 'Connect to VK.com', '/auth/vkontakte' %><br />
</div>
<ul>
<% @providers.each do |provider| %>
  <li><%= provider.nickname %> - <%= provider.provider %> <%= link_to 'Delete', provider_path(provider), :confirm => 'Are you sure to delete this provider?', :method => :delete %></li>
<% end %>
</ul>