<%= simple_form_for @message, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.error_notification %>

  <%= f.input :content, :as => :text, :required => true, :autofocus => true, :input_html => { :size => '20x7' } %>
  <%= f.association :providers, :collection => current_user.providers.map{ |p| [p.provider, p.id] }, :as => :check_boxes %>

  <div class="form-actions">
    <%= f.button :submit, @message.new_record? ? 'Create' : 'Save' %>
  </div>
<% end %>