<div>
  Created at: <%= message.created_at %>, status: <%= message.status %>
  <p><%= message.content %></p>
  <div>
    <%= link_to 'Edit', edit_message_path(message) %>
    <%= link_to 'Delete', message_path(message), :method => :delete %>
  </div>
</div>